h5py==2.10.0
matplotlib==3.5.2
numpy==1.21.6
openpyxl==3.0.10
pandas==1.3.5
Pillow==9.1.1
protobuf==3.20.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
shap==0.40.0
captum==0.6.0
sklearn==0.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
torch==1.13.1
torchmetrics==0.11.4
tqdm==4.64.0
colormath==3.0.0
fastjsonschema==2.15.3
lightning-utilities==0.8.0

git+https://github.com/slundberg/shap.git@690245c6ab043edf40cfce3d8438a62e29ab599f#egg=shap